


<%@categories = Category.all%>


 
    <% @categories.each do |category| %>
      <tr>
        <td><li class="sub-sidebar-menu-item" > 
          <%= link_to category.name, category %>
        </li>
        </td>
       
      </tr>
    <% end %>


<br>

<%= link_to 'Môn học mới', new_category_path %>
